<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>嘤嘤嘤</title>
		<link rel="stylesheet" href="static/css/index.css" />
		<script type="text/javascript" src="static/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="static/js/window.js" ></script>
		<script type="text/javascript" src="static/js/communication.js" ></script>
	</head>
	<body>
		<!--
        	作者：cuijian.1997@qq.com
        	时间：2019-02-21
        	描述：推送测试
        -->
        <div id="loadWindow">
        	<input id="name" type="text" placeholder="请输入昵称~~~" /><br />
        	<input type="button" id="toStart" value="Go！" />
        </div>
	</body>
</html>
 